In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('revised_data_sheet.csv')

df.head()

   G    P    N     A
0  0  365  746  1364
1  0  366  745  1364
2  0  371  745  1369
3  0  371  748  1369
4  0  372  748  1374

In [3]:
G = np.array(df['G'], dtype = np.float)

In [4]:
N = np.array(df['N'], dtype = np.float)

In [5]:
A = np.array(df['A'], dtype = np.float)

In [6]:
P = np.array(df['P'], dtype = np.float)

In [7]:
def Compute_P():
    K = -0.00240 * N / 1000.0 + 0.02727 * G / 1000.0 + 0.07073
    B = 4.424 * N / 1000.0 + 98.83 * G / 1000.0 + 270.36
    P_Predict = K * A + B
    return P_Predict

In [8]:
P_Predict = Compute_P()

In [9]:
print(P_Predict)

[ 367.6939184  367.692768   368.037478  ... 1237.6544205 1239.7061855
 1241.7533225]

In [10]:
P_Predict.shape

(161506,)

In [11]:
mean_error = np.mean((P_Predict - P)/P)

In [12]:
print('平均误差为{}% 。'.format(mean_error * 100.0))

平均误差为-0.18744681520258868% 。

In [13]:
df.tail()

           G     P     N     A
161501  5110  1229  2043  2189
161502  5110  1230  2043  2199
161503  5110  1232  2043  2209
161504  5110  1233  2043  2219
161505  5110  1235  2048  2229

In [14]:
mean_abs_error = np.mean(np.abs((P_Predict - P)/P ))

In [15]:
print("平均绝对值误差为{}% 。".format(mean_abs_error * 100.0))

平均绝对值误差为0.92207985337073% 。